<div class="page">
    <div class="form">
      <form class="ngform" #newpasswordform = "ngForm">
        <h3 style="color:grey">Create new password</h3>

        <div>
            <input type="text" [(ngModel)]="returnedUser.email" placeholder="Email" name="email" required
            #email="ngModel" [class.is-invalid] = "email.invalid && email.touched">
            <div *ngIf="email.invalid && email.touched"> 
                <small class="text-danger">Email is required field.</small>
            </div>
        </div>
        <br>
        <div>
          <input type="password" [(ngModel)]="returnedUser.newPassword" placeholder="New password" name="newPassword" required #newPassword="ngModel"
          [class.is-invalid] = "newPassword.invalid && newPassword.touched">
          <div *ngIf="newPassword.errors && (newPassword.invalid && newPassword.touched)">
            <small class="text-danger">New password is required field.</small>
          </div>
        </div>
         <br>
        <div>
          <input type="password" [(ngModel)]="returnedUser.confirmPassword" placeholder="Confirm password" name="confirmPassword" required #confirmPassword="ngModel"
          [class.is-invalid] = "confirmPassword.invalid && confirmPassword.touched">
          <div *ngIf="confirmPassword.errors && (confirmPassword.invalid && confirmPassword.touched)">
              <small class="text-danger">Confirm password is required field.</small>
             </div>
        </div>
        <br>
    
        <button [disabled]="newpasswordform.form.invalid" (click)="savePass()" class="btn btn-info" style="background-color: rgba(241, 112, 26, 0.966)">Save</button>
        </form>
    </div>
</div>