<div class="page">

    <div class="form mrg">
      <form class="ngform" #forgotpasswordform = "ngForm">    
        <img src="assets/images/forgot-password.png" width="120" height="130">
        <br> <br>
        <h2  style="color:grey">Forgot password?</h2>
        <p>You can reset your password here.</p>
        <div class="c2">
            <input type="text" name="mailTo" [(ngModel)]="returnedUser.mailTo" placeholder="Enter email address"  required
            #mailTo="ngModel" [class.is-invalid] = "mailTo.invalid && mailTo.touched">
            <div *ngIf="mailTo.invalid && mailTo.touched"> 
                <small class="text-danger">Email is required field.</small>
            </div>
        </div>
        <br>
        <div class="c2">
          <label for="securityAnswer">{{question}}</label>
          <input type="text" name="securityAnswer" [(ngModel)]="returnedUser.securityAnswer" placeholder="Enter answer"  required
          #securityAnswer="ngModel" [class.is-invalid] = "securityAnswer.invalid && securityAnswer.touched">
          <div *ngIf="securityAnswer.invalid && securityAnswer.touched"> 
              <small class="text-danger">Answer is required field.</small>
          </div>
      </div>


        <br>

        <button [disabled]="forgotpasswordform.invalid" (click)="onSubmit()" class="button">Reset password</button>

        </form>
    </div>
  </div>
  
  