<div class="page">
        <div class="form">
          <form class="ngform" #passwordform = "ngForm">
            <h3 style="color:grey">Change password</h3>
            <div>
              <input type="password" [(ngModel)]="returnedUser.password" placeholder="Enter new password" name="password" required #password="ngModel"
              [class.is-invalid] = "password.invalid && password.touched" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
              <div *ngIf="password.errors && (password.invalid && password.touched)">
                <small class="text-danger">Password is required field.</small>
                <small class="text-danger" *ngIf = "password.errors">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
              </div>
            </div>
             <br>
            <div>
              <input type="password" [(ngModel)]="returnedUser.confirmPassword" placeholder="Confirm password" name="confirmPassword" required #confirmPassword="ngModel"
              [class.is-invalid] = "confirmPassword.invalid && confirmPassword.touched" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
              <div *ngIf="confirmPassword.errors && (confirmPassword.invalid && confirmPassword.touched)">
                  <small class="text-danger">Password is required field.</small>
                  <small class="text-danger" *ngIf = "confirmPassword.errors">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
              </div>
            </div>
            <br>
            
            <button [disabled]="passwordform.form.invalid" (click)="savePassword()" class="button">Save</button>
            </form>
        </div>
</div>