<div class="pageRegistration">

    <h2 class="mrg" style="color:grey">Register here</h2>
    <div class="form">
        
      <form class="ngform"  #registrationform = "ngForm">    
        
        <img src="assets/images/logo.png" width="200" height="80" alt="">
           
        <div class="c1">
            <input type="text" [(ngModel)]="user.name" placeholder="Enter name" name="name" required #name="ngModel"
            [class.is-invalid] = "name.invalid && name.touched">
            <div *ngIf="name.invalid && name.touched"> 
                <small class="text-danger">Name is required field.</small>
            </div>
        </div>

        <div class="c1" >
            <input type="text" [(ngModel)]="user.surname" placeholder="Enter surname" name="surname" required  #surname="ngModel"
            [class.is-invalid] = "surname.invalid && surname.touched">
            <div *ngIf="surname.invalid && surname.touched"> 
                <small class="text-danger">Username is required field.</small>
            </div>
        </div>

        <div class="c1">
            <input type="text" [(ngModel)]="user.username" placeholder="Enter username" name="username" required  #username="ngModel"
            [class.is-invalid] = "username.invalid && username.touched">
            <div *ngIf="username.invalid && username.touched"> 
                <small class="text-danger">Username is required field.</small>
            </div>
        </div>

        <div class="c1">
            <input type="text" class="form-control"  placeholder="Enter email" #email="ngModel" name="email" [(ngModel)]="user.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
             required email [class.is-invalid] = "username.invalid && username.touched"> 
            <div *ngIf="email.invalid && email.touched">
                <small class="text-danger">Email is required field.</small>
                <small class="text-danger" *ngIf = "email.errors">Enter valid email.</small>
            </div>
        </div>

        <div class="c1">
            <input type="password" [(ngModel)]="user.password" placeholder="Enter password" name="password" required #password="ngModel"
            [class.is-invalid] = "password.invalid && password.touched">
            <div *ngIf="password.invalid && password.touched">
                <small class="text-danger">Password is required field.</small>
            </div>
        </div>

        <br>

        

        <button class="button" [disabled]="registrationform.form.invalid" (click)="registration()">Register</button>
    </form>
    </div>
  </div>
  
  